@model Cinema.Models.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Stwórz</h1>

<h4>Rezerwacja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeanceId" class="control-label">Seanse</label>
                <select asp-for="SeanceId" class="form-control" asp-items="ViewBag.Seances"></select>
                <span asp-validation-for="SeanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Miejsca</label>
                <div class="container">
                    @{
                        int seatCount = 1;
                    }
                    @foreach (var seat in (List<Cinema.Models.Seat>)ViewBag.AvailableSeats)
                    {
                        if((seatCount-1) % 10 == 0)
                        {
                            @:</div>
                            @:<div class="row">
                        }
                        <div class="col-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="seat-@seat.Id" value="@seatCount" name="selectedSeats" @(seat.IsBooked ? "disabled" : "")>
                                <label class="form-check-label" for="seat-@seat.Id">@seatCount</label>
                            </div>
                        </div>
                        seatCount++;
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="normalTickets">Bilety normalne:</label>
                <input type="number" id="normalTickets" name="normalTickets" min="0" class="form-control" value="0" oninput="calculateTotal()" />
            </div>
            <div class="form-group">
                <label for="discountTickets">Bilety ulgowe:</label>
                <input type="number" id="discountTickets" name="discountTickets" min="0" class="form-control" value="0" oninput="calculateTotal()" />
            </div>
            <div class="form-group">
                <label for="couponCode">Kupon rabatowy:</label>
                <input type="text" id="couponCode" name="couponCode" class="form-control" oninput="calculateTotal()" />
            </div>
            <div class="form-group">
                <label for="totalPrice">Całkowita cena:</label>
                <input type="text" id="totalPrice" name="totalPrice" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SeatNumbers" id="seatNumbers" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-danger" onclick="updateSeatNumbers()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const normalTicketPrice = 25;
        const discountTicketPrice = 18;
        const discountCode = "programowanie";

        function updateSeatNumbers() {
            let selectedSeats = Array.from(document.querySelectorAll('input[name="selectedSeats"]:checked')).map(input => parseInt(input.value));
            document.getElementById('seatNumbers').value = selectedSeats.join(',');

            let normalTicketCount = parseInt(document.getElementById('normalTickets').value);
            let discountTicketCount = parseInt(document.getElementById('discountTickets').value);
            if(selectedSeats.length !== normalTicketCount + discountTicketCount){
                alert("Liczba wybranych biletów nie pasuje do liczby wybranych miejsc!");
                event.preventDefault();
            }
        }

        function calculateTotal() {
            let normalTicketCount = parseInt(document.getElementById('normalTickets').value);
            let discountTicketCount = parseInt(document.getElementById('discountTickets').value);
            let totalPrice = normalTicketPrice * normalTicketCount + discountTicketPrice * discountTicketCount;

            let couponCode = document.getElementById('couponCode').value;
            if(couponCode === discountCode) {
                totalPrice *= 0.9;
            }

            document.getElementById('totalPrice').value = totalPrice.toFixed(2) + " zł";
        }
    </script>
}
