@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdź zmiane hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione Please <a asp-page="./Login">kliknij tutaj by zalogować</a>.
</p>
